@font-face {
  font-family: 'Roboto';
  src: local('./fonts/Roboto-Thin.ttf');
}

* {
  font-family: 'Roboto', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  /* background: linear-gradient(to right, rgb(0, 57, 115), rgb(229, 229, 190)); */
  background: linear-gradient(to right, rgb(49, 71, 85), rgb(38, 160, 218));
}
